img {
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	img[srcset] {
		src: url(image1.jpg);
	}
}

@media (max-width: 1024px) and (min-width: 769px) {
	img[srcset] {
		src: url(image2.jpg);
	}
}

@media (min-width: 1025px) {
	img[srcset] {
		src: url(image3.jpg);
	}
}