
body {
	font-family: "Arial", sans-serif;
	margin: 20px;
}

/* Box Model */
.box-model div {
	width: 200px;
	height: 100px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
}

.content-box {
	box-sizing: content-box; /* Padding and Border added to width and height */
}

.border-box {
	box-sizing: border-box; /* Padding and Border included in width and height */
}

/* Padding */
.padding-10 {
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.padding-20 {
	padding: 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

/* Border */
.border-1 {
	border: 1px solid black;
}

.border-2 {
	border: 2px solid black;
}

/* Margin */
.margin-10 {
	margin: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.margin-20 {
	margin: 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

section {
	margin-bottom: 20px;
}
h2 {
	margin-top: 20px;
}
p {
	margin-bottom: 10px;
}